.App {
  position: initial;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.body {
  flex-direction: row !important;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.btn {
  padding: .5rem 1rem;
  border-radius: 10px;
  color: white;
  background-color: rgb(11, 60, 138) !important;
}

.btn:hover {
  background-color: rgba(21, 68, 143, 0.761) !important;
}

.Logo-title {
  margin-bottom: "3px";
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  height: 30px;
}